# Project 4 Bonus

Author: [Harinya Potluri](https://github.com/hpotluri/)
Repository: [datafun-04-notebooks](https://github.com/hpotluri/datafun-04-notebooks/)

In [1]:
import pandas as pd
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],['Sue Brown', 'demo2@deitel.com', '5555551234']]
contactsdf = pd.DataFrame(contacts,columns=['Name', 'Email', 'Phone'])
contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

### Defining numberFormator function
Creating a function which will take phone number as integer and returns formated string as output

In [2]:
import re

def numberFormator(phone_num):
    re_result = re.findall("(\d{3})(\d{3})(\d{4})", str(phone_num))
    if re_result:
        return f"{re_result[0][0]}-{re_result[0][1]}-{re_result[0][2]}"
    
numberFormator(5555551234)

'555-555-1234'

## Applying function to dataframe using apply()

In [3]:
contactsdf.Phone = contactsdf.Phone.apply(numberFormator)
contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234